- let langPrefix
if is_default_language(page_language())
  - langPrefix = `${display_languages()[0]}.`
else
  - langPrefix = ''

if theme.algolia_search.enable
  !=partial('includes/third-party/search/algolia', {langPrefix: langPrefix}, {cache: false})
else if theme.local_search.enable
  !=partial('includes/third-party/search/local-search', {langPrefix: langPrefix}, {cache: false})
else if theme.docsearch.enable
  !=partial('includes/third-party/search/docsearch', {}, {cache: false})