#local-search
  .search-dialog
    nav.search-nav
      each langPrefix, lang in langPrefices
        span(lang-type='relative' language=lang).search-dialog-title= _p(langPrefix+'search.title')
      span#loading-status
      button.search-close-button
        i.fas.fa-times

    #loading-database.is-center
      i.fas.fa-spinner.fa-pulse
      span= '  ' + _p(langPrefix+"search.load_data")

    .search-wrap
      #local-search-input
        .local-search-box
          input(placeholder="" type="text").local-search-box--input
      hr
      #local-search-results
      #local-search-stats-wrap
  #search-mask

  script(src=url_for(theme.asset.local_search))