extends includes/layout.pug

block content
  if theme.category_ui == 'index'
    include ./includes/mixins/post-ui.pug
    #recent-posts.recent-posts.category_ui
      +postUI
      include includes/pagination.pug
  else
    - let langPrefix
    if is_default_language(page.lang)
      - langPrefix = `${display_languages()[0]}.`
    else
      - langPrefix = ''
    include ./includes/mixins/article-sort.pug
    #category
      .article-sort-title= _p(langPrefix+'page.category') + ' - ' + page.category
      +articleSort(page.posts)
      include includes/pagination.pug