if theme.aside.card_announcement.enable
  .card-widget.card-announcement
    .item-headline
      i.fas.fa-bullhorn.fa-shake
      each langPrefix, lang in langPrefices
        span(lang-type='relative' language=lang)= _p(langPrefix+'aside.card_announcement')
    .announcement_content!= theme.aside.card_announcement.content