if theme.newest_comments.enable && theme.comments.use && !['Livere','Facebook Comments','Giscus'].includes(theme.comments.use[0])
  .card-widget#card-newest-comments
    .item-headline
      i.fas.fa-comment-dots
      each langPrefix, lang in langPrefices
        span(lang-type='relative' language=lang)= _p(langPrefix+'aside.card_newest_comments.headline')
    .aside-list
      each langPrefix, lang in langPrefices
        span(lang-type='relative' language=lang)= _p(langPrefix+'aside.card_newest_comments.loading_text')
