if theme.aside.card_categories.enable
  if site.categories.length
    each langPrefix, lang in langPrefices
      .card-widget.card-categories(lang-type='relative' language=lang)
        !=aside_categories({ lang: lang, langPrefix: langPrefix, limit: theme.aside.card_categories.limit === 0 ? 0 : theme.aside.card_categories.limit || 8 , expand: theme.aside.card_categories.expand })
