//- changed to cache false since the content should be different among language settings
#aside-content.aside-content
  //- post
  if globalPageType === 'post'
    - const tocStyle = page.toc_style_simple
    - const tocStyleVal = tocStyle === true || tocStyle === false ? tocStyle : theme.toc.style_simple
    if showToc && tocStyleVal
      .sticky_layout
        include ./card_post_toc.pug
        if page.series
          include ./card_post_series.pug
        include ./card_ad.pug
    else
      //- changed to cache false since the content should be different among language settings
      include ./card_author.pug
      include ./card_announcement.pug
      include ./card_top_self.pug
      .sticky_layout
        if showToc
          include ./card_post_toc.pug
        if page.series
          include ./card_post_series.pug
        include ./card_recent_post.pug
        include ./card_ad.pug
  else
    //- page
    include ./card_author.pug
    include ./card_announcement.pug
    include ./card_top_self.pug

    .sticky_layout
      if showToc
        include ./card_post_toc.pug
      if page.type !== 'categories'
        include ./card_categories.pug
      if page.type !== 'tags'
        include ./card_tags.pug
      if globalPageType !== 'home'
        include ./card_recent_post.pug
      include ./card_ad.pug
      include ./card_newest_comment.pug
      include ./card_archives.pug
      include ./card_webinfo.pug
      include ./card_bottom_self.pug