- let langPrefices
if is_default_language(page_language())
  - langPrefices = Object.fromEntries(display_languages().map((lang) => [lang,`${lang}.`]))
else
  - langPrefices = Object.fromEntries([[page_language(), '']])

#aside-content.aside-content
  //- post
  if is_post()
    - const tocStyle = page.toc_style_simple
    - const tocStyleVal = tocStyle === true || tocStyle === false ? tocStyle : theme.toc.style_simple
    if showToc && tocStyleVal
      .sticky_layout
        !=partial('includes/widget/card_post_toc', {langPrefices:langPrefices}, {cache: false})
    else
      //- changed to cache false since the content should be different among language settings
      !=partial('includes/widget/card_author', {langPrefices:langPrefices}, {cache: false})
      !=partial('includes/widget/card_announcement', {langPrefices:langPrefices}, {cache: false})
      !=partial('includes/widget/card_top_self', {}, {cache: false})
      .sticky_layout
        if showToc
          !=partial('includes/widget/card_post_toc', {langPrefices:langPrefices}, {cache: false})
        if page.series
          !=partial('includes/widget/card_post_series', {langPrefices:langPrefices}, {cache: false})
        //- changed to cache false since the content should be different among language settings
        !=partial('includes/widget/card_recent_post', {langPrefices:langPrefices}, {cache: false})
        !=partial('includes/widget/card_ad', {}, {cache: false})
  else
    //- page
    //- changed to cache false since the content should be different among language settings
    !=partial('includes/widget/card_author', {langPrefices:langPrefices}, {cache: false})
    !=partial('includes/widget/card_announcement', {langPrefices:langPrefices}, {cache: false})
    !=partial('includes/widget/card_top_self', {}, {cache: false})

    .sticky_layout
      if showToc
        !=partial('includes/widget/card_post_toc', {langPrefices:langPrefices}, {cache: false})
      //- changed to cache false since the content should be different among language settings
      !=partial('includes/widget/card_recent_post', {langPrefices:langPrefices}, {cache: false})
      !=partial('includes/widget/card_ad', {}, {cache: false})
      !=partial('includes/widget/card_newest_comment', {langPrefices:langPrefices}, {cache: false})
      !=partial('includes/widget/card_categories', {langPrefices:langPrefices}, {cache: false})
      !=partial('includes/widget/card_tags', {langPrefices:langPrefices}, {cache: false})
      !=partial('includes/widget/card_archives', {langPrefices:langPrefices}, {cache: false})
      !=partial('includes/widget/card_webinfo', {langPrefices:langPrefices}, {cache: false})
      !=partial('includes/widget/card_bottom_self', {}, {cache: false})