// $indexLayout = hexo-config('index_layout') || 1
$indexLayout = 2
$indexEnable = hexo-config('cover.index_enable')

#recent-posts
  .recent-post-item
    @extend .cardHover
    position: relative
    overflow: hidden
    margin-bottom: 20px

    if ($indexLayout == 6) || ($indexLayout == 7)
      display: inline-block
      width: calc(100% / 2 - 8px)
      vertical-align: top

      +maxWidth768()
        width: 100%

      +minWidth2000()
        width: calc(100% / 3 - 8px)

    if (($indexLayout == 1) || ($indexLayout == 2) || ($indexLayout == 3))
      display: flex
      flex-direction: row
      align-items: center
      height: 13em  // original: 16.8em

      // +maxWidth768()
      //   flex-direction: column
      //   height: auto

      // +minWidth2000()
      //   height: 18.8em

    // &:hover
    //   .post-bg
    //     transform: scale(1.1)

    &.ads-wrap
      display: block !important
      height: auto !important

    .post-cover
      overflow: hidden

      if (($indexLayout != 5) && ($indexLayout != 7))
        // +maxWidth768()
        //   width: 100%
        //   height: 230px

      if (($indexLayout == 1) || ($indexLayout == 2) || ($indexLayout == 3))
        width: calc(max(14em, 30%) + 10px)  // original: 42%
        height: 100%

        // additionals
        +maxWidth768()
          position: absolute
          pointer-events: none

          &:not(.no-cover)
            right: 0
            mask-image: linear-gradient(to left, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.2) 20%, transparent 100%);
          // &.left
          //   left: 0
          //   mask-image: linear-gradient(to right, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.2) 20%, transparent 100%)

        &.right
          order: 1

          // +maxWidth768()
          //   order: 0

      if (($indexLayout == 4) || ($indexLayout == 5) || ($indexLayout == 6) || ($indexLayout == 7))
        width: 100%

        if (($indexLayout == 5) || ($indexLayout == 7))
          height: 17em
        else
          height: 230px

      if (($indexLayout == 5) || ($indexLayout == 7)) && $indexEnable
        &:before
          position: absolute
          z-index: 1
          width: 100%
          height: 100%
          background-color: rgba(18, 18, 18, .4)
          content: ''
          backdrop-filter: blur(3px)

      .post-bg
        z-index: -4
        @extend .imgHover

    & >.recent-post-info
      // +maxWidth768()
      //   padding: 20px 20px 30px
      //   width: 100%
      
      // additionals
      +maxWidth900()
        padding: 0 1.4em
      
      // additionals
      +maxWidth768()
        width: 100%
        position: absolute
        background-clip: text

        +darkmode()
          mix-blend-mode: screen
        
        +lightmode()
          mix-blend-mode: multiply

      if (($indexLayout == 1) || ($indexLayout == 2) || ($indexLayout == 3))
        padding: 0 30px // original: 0 40px
        width: calc(min(100% - 14em, 70%) - 10px) // original: 58%

      if (($indexLayout == 4) || ($indexLayout == 5) || ($indexLayout == 6) || ($indexLayout == 7))
        padding: 30px 30px 25px

      if (($indexLayout == 5) || ($indexLayout == 7)) && $indexEnable
        &:not(.no-cover)
          position: absolute
          top: 50%
          z-index: 2
          width: 100%
          color: var(--text-highlight-color)
          transform: translateY(-50%)
          --text-highlight-color: rgba(255, 255, 255, 1)
          --card-meta: rgba(255, 255, 255, .7)

      &.no-cover
        +maxWidth768()
          padding: 30px 20px

        if (($indexLayout == 1) || ($indexLayout == 2) || ($indexLayout == 3))
          width: 100%

        if (($indexLayout == 4) || ($indexLayout == 5) || ($indexLayout == 6 || ($indexLayout == 7)))
          padding: 35px 30px

      & > .article-title
        @extend .limit-more-line
        color: var(--text-highlight-color)
        font-size: 1.4em  // original: 1.55em
        line-height: 1.4
        // transition: font-size .2s
        -webkit-line-clamp: 2
        // additionals
        font-weight: 400

        .sticky
          margin-right: 0.5em  // original: 10px
          color: var(--sticky-color)
          transform: rotate(45deg)
          font-size: 0.9em

        // +maxWidth768()
        //   font-size: 1.43em

        // additionals
        +minWidth768maxWidth1200()
            font-size: 1.3em

        &:hover
          color: var(--text-hover)
          // additionals
          transition: color .2s ease-in-out

      & > .article-meta-wrap
        margin: 0.4em 2px 0.6em  //original: 6px 0
        color: var(--meta-color)
        font-size: .9em
        // additionals
        word-break: break-all
        

        & > .post-meta-date
          cursor: default

        i
          margin: 0 4px 0 0

        .fa-spinner
          margin: 0

        .article-meta-label
          if hexo-config('post_meta.page.label')
            padding-right: 4px
          else
            display: none

        .article-meta-separator
          margin: 0 6px

        .article-meta-link
          margin: 0 4px

        if hexo-config('post_meta.page.date_format') == 'relative'
          time
            display: none

        a
          color: var(--card-meta)

          &:hover
            color: var(--text-hover)
            text-decoration: underline

      & > .content
        @extend .limit-more-line
        -webkit-line-clamp: 2
        // additionals
        hyphens: auto