.tag-cloud
  &-list
    a
      display: inline-block
      padding: 0.5rem  // original: 0 8px
      transition: transform .3s
      line-height: 1

      &:hover
        color: var(--text-hover) !important
        transform: scale(1.1)

      // +maxWidth768()
      //   zoom: .85

  &-title
    font-size: 2.57em

    +maxWidth768()
      font-size: 2em

h1.page-title
  & + .tag-cloud-list
    text-align: left
