#page-header
  position: relative
  width: 100%
  background-color: var(--theme-color)
  background-position: center center
  background-size: cover
  background-repeat: no-repeat
  transition: all .5s, font-size .2s
  isolation: isolate
  z-index : 1

  if hexo-config('mask.header')
    &:not(.not-top-img)::before
      position: absolute
      width: 100%
      height: 100%
      background-color: var(--mask-bg)
      content: ''
    
    // additionals
    &:not(.not-top-img)::after
      position: absolute
      width: 100%
      height: 100%
      background-color: var(--mask-bg-sub)
      content: ''
      z-index: -1
      mix-blend-mode: soft-light

      +darkmode()
        mix-blend-mode: darken

  // index
  &.full_page
    height: $index_top_img_height
    background-attachment: fixed

    #site-info
      position: absolute
      top: $index_site_info_top
      padding: 0 10px
      width: 100%

  #site-title,
  #site-subtitle,
  #scroll-down .scroll-down-effects
    text-align: center
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .15)
    line-height: 1.5

  #site-title
    margin: 0
    color: var(--white)
    font-size: 1.8em  // original: 1.85em

    +minWidth768()
      font-size: 2em  // original: 2.85em

  #site-subtitle
    color: var(--light-grey)
    font-size: 1.15em

    +minWidth768()
      font-size: 1.72em

  #site_social_icons
    display: none
    margin: 0 auto
    text-align: center

    +maxWidth768()
      display: block

    .social-icon
      margin: 0 10px
      color: var(--light-grey)
      text-shadow: 2px 2px 4px rgba(0, 0, 0, .15)
      font-size: 1.43em

  #scroll-down
    position: absolute
    bottom: 10px
    width: 100%
    cursor: pointer

    .scroll-down-effects
      position: relative
      width: 100%
      color: var(--light-grey)
      font-size: 20px

  // page
  &.not-home-page
    height: 20em  // original: 400px

    +maxWidth768()
      height: 16em  // original: 280px

  #page-site-info
    position: absolute
    top: 10em  // original: 200px
    padding: 0 10px
    width: 100%

    +maxWidth768()
      top: 8em  // original: 140px

  // post
  &.post-bg
    height: 360px // original: 400px

    +maxWidth768()
      height: 16.25em // original: 360px

  #post-info
    position: absolute
    bottom: 30px
    padding: 0 6% // original: 0 8%
    width: 100%

    +maxWidth768()
      bottom: 1.25em
      padding: 0 1.5em

  &.not-top-img
    margin-bottom: 10px
    height: 60px
    background: 0

    #nav
      background: var(--nav-bg)
      box-shadow: 0 5px 6px -5px rgba(133, 133, 133, .6)

      a,
      span.site-page,
      .site-name
        color: var(--font-color)
        text-shadow: none

  &.nav-fixed
    #nav
      position: fixed
      top: -3em  // original: -60px
      z-index: 91
      background: var(--nav-bg)
      box-shadow: 0 5px 6px -5px var(--grey60)
      transition: transform .2s ease-in-out, position .2s ease-in-out

      #blog-info
        color: var(--font-color)

        // &:hover
        //   color: var(--theme-color)

        .site-name
          text-shadow: none

      a,
      span.site-page,
      #toggle-menu
        color: var(--font-color)
        text-shadow: none

        // &:hover
        //   color: var(--theme-color)

    &.fixed
      #nav
        top: 0
        transition: top .5s

  &.nav-visible:not(.fixed)
    #nav
      transition: transform .5s, top .5s
      transform: translate3d(0, 100%, 0)

    & + .layout
      & > .aside-content > .sticky_layout
        top: 70px
        transition: top .5s

  &.fixed
    #nav
      position: fixed

    & + .layout
      & > .aside-content > .sticky_layout
        top: 70px
        transition: top .5s

      #card-toc
        .toc-content
          max-height: calc(100vh - 170px)

#page
  h1.page-title
    margin: 8px 0 20px

// for not top_img
#post
  & #post-info
    margin-bottom: 30px

    .post-title
      padding-bottom: 4px
      border-bottom: 1px solid var(--title-border-color)
      color: var(--text-highlight-color)

      .post-edit-link
        float: right

    #post-meta,
    #post-meta a
      color: var(--grey)

#post-info
  .post-title
    @extend .limit-more-line
    margin-bottom: 8px
    color: var(--white)
    font-weight: 500  // original: 350
    font-size: 2em  // original: 2.5em
    line-height: 1.3  // original: 1.5
    -webkit-line-clamp: 3
    // additionals
    margin-top: .67em
    word-break: keep-all
    line-clamp: 2

    +maxWidth900()
      font-size: 1.8em

    +maxWidth768()
      font-size: 1.7em  // original: 2.1em

    +maxWidth600()
      font-size: 1.6em  // original: 2.1em

    .post-edit-link
      padding-left: 10px

#post-meta
  color: var(--light-grey)
  font-size: 0.9em  // original: 90%
  font-weight: 300 // original: 250

  > .meta-firstline,
  > .meta-secondline
    display: inline

  .post-meta
    &-separator
      margin: 0 5px

    &-icon
      margin-right: 0.4em  // original: 4px

    &-label
      if hexo-config('post_meta.post.label')
        margin-right: 0.3em  // original: 4px
        font-weight: 400  // original: 350
      else
        display: none

  a
    color: var(--light-grey)
    // transition: color .3s ease-out

    &:hover
      color: var(--text-hover) !important
      // text-decoration: underline

  if hexo-config('post_meta.post.date_format') == 'relative'
    time
      display: none

#nav
  position: absolute
  top: 0
  z-index: 90
  display: flex
  align-items: center
  padding: 0 1.75em  // original: 0 36px
  width: 100%
  height: 3em  // original: 60px
  font-size: 1.3em
  opacity: 0
  transition: transform .5s, top .5s, opacity .5s, padding .2s, height .2s

  +maxWidth768()
    padding: 0 1em  // original: 0 16px

  &.show
    opacity: 1

  #blog-info
    flex: 1
    color: var(--light-grey)
    @extend .limit-one-line

    .site-icon
      margin-right: 8px  // original : 6px
      height: 1.5em  // original : 36px
      vertical-align: middle
    
    .site-name
      vertical-align: middle

  #toggle-menu
    display: none
    padding: 2px 0 0 6px
    vertical-align: top

    &:hover
      color: var(--white)

  a,
  span.site-page
    color: var(--light-grey)

    &:hover
      color: var(--white)

  .site-name
    text-shadow: 2px 2px 4px var(--dark-black15)
    font-weight: 600  // original: bold

  .menus_items
    display: inline

    .menus_item
      position: relative
      display: inline-block
      padding: 0 0 0 14px

      &:hover
        .menus_item_child
          display: block

        & > span > i:last-child
          transform: rotate(180deg)

      & > span > i:last-child
        padding: 4px
        transition: transform .3s

      .menus_item_child
        position: absolute
        right: 0
        display: none
        margin-top: 8px
        padding: 0
        width: max-content
        border-radius: 5px
        background-color: var(--sidebar-bg)
        box-shadow: 0 5px 20px -4px var(--dark-black50)
        animation: sub_menus .3s .1s ease both

        &::before
          position: absolute
          top: -8px
          left: 0
          width: 100%
          height: 20px
          content: ''

        li
          list-style: none

          &:hover
            background: var(--text-bg-hover)

          &:first-child
            border-top-left-radius: 5px
            border-top-right-radius: 5px

          &:last-child
            border-bottom-right-radius: 5px
            border-bottom-left-radius: 5px

          a
            display: inline-block
            padding: 8px 16px
            width: 100%
            color: var(--font-color) !important
            text-shadow: none !important

  &.hide-menu
    #toggle-menu
      display: inline-block !important

      .site-page
        font-size: inherit

    .menus_items
      display: none

    #search-button span:not(.site-page)
      display: none

  #search-button
    display: inline
    padding: 0 0 0 14px

  .site-page
    position: relative
    padding-bottom: 6px
    text-shadow: 1px 1px 2px var(--dark-black30)
    font-size: .78em
    cursor: pointer

    &:not(.child)
      &::after
        position: absolute
        bottom: 0
        left: 0
        z-index: -1
        width: 0
        height: 3px
        background-color: var(--sub-theme-color-light30)
        content: ''
        transition: width .3s ease-in-out

      &:hover
        &::after
          width: 100%