beautify()
  headStyle(fontsize)
    padding-left: unit(fontsize + 8, 'px')

    &::before
      font-size: unit(fontsize - 2, 'px')

    &:hover
      padding-left: unit(fontsize + 12, 'px')

  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    transition: padding .2s ease-out

    &::before
      position: absolute
      top: calc(50% - 7px)
      color: $title-prefix-icon-color
      content: $title-prefix-icon
      left: 0
      line-height: 1
      // transition: all .2s ease-out
      @extend .fontawesomeIcon

    &:hover
      &::before
        color: var(--theme-color)

  h1, h2, h3, h4, h5, h6
    padding-left: calc(1em + 8px)  // original: calc(1.25em + 8px)
    &::before
      font-size: calc(1em - 2px)  // original: calc(1.25em - 2px)
    &:hover
      padding-left: calc(1em + 12px)  // original: calc(1.25em + 12px)

  ol,
  ul
    p
      margin: 0 0 8px

  li
    &::marker
      color: var(--pseudo-color)
      font-weight: 600
      font-size: 1.05em

    &:hover
      &::marker
        color: var(--pseudo-hover)

  ul > li
    list-style-type: circle
  
  hr
    @extend .custom-hr

#article-container
  word-wrap: break-word
  overflow-wrap: break-word

  if hexo-config('text_align_justify')
    text-align: justify

  a
    color: var(--post-link-color)

    &:hover
      text-decoration: underline

  img
    display: block
    margin: 0 auto 20px
    max-width: 100%
    // transition: filter 375ms ease-in .2s 

  p
    margin: 0 0 1em  // original: margin: 0 0 16px

  iframe
    margin-bottom: 1.25em  // original: margin: 0 0 20px

  // kbd
  //   margin: 0 3px
  //   padding: 3px 5px
  //   border: 1px solid #b4b4b4
  //   border-radius: 3px
  //   background-color: #f8f8f8
  //   box-shadow: 0 1px 3px rgba(0, 0, 0, .25), 0 2px 1px 0 rgba(255, 255, 255, .6) inset
  //   color: #34495e
  //   white-space: nowrap
  //   font-weight: 600
  //   font-size: .9em
  //   font-family: Monaco, 'Ubuntu Mono', monospace
  //   line-height: 1em

  if hexo-config('anchor.click_to_scroll')
    h1,
    h2,
    h3,
    h4,
    h5,
    h6
      // width: fit-content

      a:not(.headerlink)
        position relative
        z-index 10

      a.headerlink
        position: absolute
        top: 0
        right: 0
        left 0
        bottom: 0
        width 100%
        height: 100%

  ol,
  ul
    ol,
    ul
      padding-left: 20px

    li
      margin: 4px 0

    p
      margin: 0 0 8px

  > :last-child
    margin-bottom: 0 !important

  hr
    margin: 20px 0

  if hexo-config('beautify.enable')
    if hexo-config('beautify.field') == 'site'
      beautify()
    else if hexo-config('beautify.field') == 'post'
      &.post-content
        beautify()

#post
.tag_share
  &::after
    display: block
    clear: both
    content: ''

  .post-meta
    &__tag-list
      display: inline-block

    &__tags
      // display: inline-block
      // margin: 8px 8px 8px 0
      // padding: 0 12px
      // width: fit-content
      // border: 1px solid var(--theme-color)
      // border-radius: 12px
      // color: var(--theme-color)
      // font-size: .85em
      transition: all .2s ease-in-out//, font-size .2s

      &:hover
        background: var(--theme-color80)
        color: var(--white)

  .post_share
    display: inline-block
    float: right
    margin: 8px 0 0
    width: fit-content

    .social-share
      font-size: .85em

      .social-share-icon
        margin: 0 4px
        width: w = 1.85em
        height: w
        font-size: 1.2em
        line-height: w

.post-copyright
  position: relative
  margin: 40px 0 10px
  padding: 10px 16px
  border: 1px solid var(--title-border-color)
  // transition: box-shadow .3s ease-in-out
  font-size: .9em

  &::before
    @extend .fontawesomeIcon
    position: absolute
    top: 2px
    right: 12px
    color: var(--theme-color)
    content: '\f1f9'
    font-size: 1.3em

  // &:hover
  //   box-shadow: 0 0 8px 0 rgba(232, 237, 250, .6), 0 2px 4px 0 rgba(232, 237, 250, .5)

  .post-copyright

    &-meta
      color: var(--theme-color)
      font-weight: 600  // original: bold

      i
        margin-right: 3px

    &-info
      padding-left: 6px

      a
        text-decoration: underline
        word-break: break-all

        &:hover
          text-decoration: none

  #post-outdate-notice
    position: relative
    margin: 0 0 20px
    background-color: $noticeOutdate-bg
    color: $noticeOutdate-color
    addBorderRadius(3)

    .num
      padding: 0 4px

    if hexo-config('noticeOutdate.style') == 'flat'
      padding: 0.6em 1em 0.5em 2.6em   // original: .5em 1em .5em 2.6em
      border-left: 5px solid $noticeOutdate-border

      &:before
        @extend .fontawesomeIcon
        position: absolute
        top: 52%   // original: 50%
        left: .9em
        color: $noticeOutdate-border
        content: '\f071'
        transform: translateY(-50%)
    
    else 
      padding: .5em 1.2em

  .ads-wrap
    margin: 40px 0
