.tag-cloud-list.is-center.tags-random
  !=tagcloud({lang: page.lang, source: site.tags, orderby: page.orderby || 'random', order: page.order || 1, minfontsize: 1, maxfontsize: 1.7, limit: 0, unit: 'rem'})