.tag-cloud-list.is-center.tags-random
  !=tagcloud({lang: page.lang, source: site.tags, orderby: page.orderby || 'random', order: page.order || 1, min_font: 1, max_font: 1.3, limit: 0, unit: 'rem', color: true, show_size: true})